.carrossel {
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

body{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    background-color: blueviolet;
}

header{
    background: linear-gradient(#4a4e69,whitesmoke);
    height:70px;
    border-radius: 30px 30px 30px 30px;
    left: 60px;
    position: relative;
    height: 250px;
}
#logo{
    margin-left: 25%;
    height: 80px;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1024px;
    min-height: 10200;
    height: auto;
    background-color: #040442;

}
#logo{
    margin-left: 25%;
    height: 80px;
}
.menu_opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu_opcoes ul{
    border-radius: 30px 30px 30px 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    background-color: rgb(235, 19, 19);
}
.menu_opcoes ul li{
    display: inline;
    margin-left: 0px;
    border-right: 5px solid black;
}
.menu_opcoes li:last-child{
    border-right: none;
}
.menu_opcoes a{
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    border-radius: 3px;
}
.menu_opcoes li a:hover{
    transition: 0.05s;
    color: black;
    background-color: #a574de;
    text-shadow: 4px 4px 4px;

}
.container{
    margin: 0 auto;
    width: 100%;
    margin-left: 60px;
    max-width: 1024px;
    height: 1200px;
    background-color: aqua;
}
.container h1{
    color: white;
    padding: 10px;
    -webkit-text-stroke-width:2px ;
    -webkit-text-stroke-color: #754ba6;
}
.busca,
.menu_start
{
    background-color: #155dcf;
    font-weight: bold;
    font-family: verdana, arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    width: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px black;  
}

.menu_start{
    clear:left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_start{
    background-color: #a574de;
    margin-bottom: 2px;
    padding: 5px 10px;
    float: left;
}

.menu_start a{
    text-decoration: none;
    color: white;
}

.menu_start ul{
    list-style: none;
    margin-right: 10px;
    margin-left: -10px;
}
.menu_start li a:hover{
    transition: 0.05s;
    color: black;
    background-color: #a574de;
    text-shadow: 2px 2px 2px;
    
}
.busca button{
    background-color: #155dcf;
   /* color: wheat;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    /*text-transform: uppercase;(Faz com que o a escrita fique em caixa alta*/
    /*box-shadow: 5px 5px 5px;(adiciona sombra na camada de tras do que se esta mexendo */
    background-image: url("../img/lupa2.png");
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin-left: 20px;
}

/*.busca button :hover{
    background-color: purple;
    color: wheat;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px;
    text-transform: uppercase;(Faz com que o a escrita fique em caixa alta
    box-shadow: 5px 5px 5px;(adiciona sombra na camada de tras do que se esta mexendo 
}*/
.busca input[type="search"]{
    width: 200px;
    background-color: red;
}

.destaque{
    width: 70%;
    padding: 20px;
    background-color: #040442;
    width: 60%;
    float: left;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #2603a5 ;
    margin-top: -161px;
    margin-left: 35px;
}
.destaque figure img{
    width: 70%;
}

.container h1 {
    color:white;
    padding: 10px;
}


.destaque img {
    width: 98%;
    /* padding 10px; */
    float: left;
}

/*Final destaque */

/*inicio portifolio */

.flex-container{
    display: flex;
    max-width: 100%;
    width: 100%;
}

.portifolio{
    flex: 1;
    background-color: red;
    border: 1px solid black;
    width: 33%;
    height: 280px;
    margin-right:20px ;
    border-radius:10px;
}
.portifolio:last-child{
    margin-right:0;
}

.esq a{
    text-decoration: none;
    color: white;
}

.meio a{
    text-decoration: none;
    color: black;
}

.dir a{
    text-decoration: none;
    color: black;
}
.esq{
    background-color: blue;
}

.meio{
    background-color: yellow;
}

.dir{
    background-color: white;
    margin-right:0;
}

.esq p{
    text-align:justify;
    color: white;
    margin: 3px;
    font-family: "open_sanssemibold","Open Sans","Arial"; 
}
.esq img{
    width:35%;
    margin-left: 10%;
}

.meio img{
    width: 35%;
    margin-right:15% ;
}

.dir img{
    width: 35%;
    margin-right: 10%;
}
/* fim do portifolio */
/*scroll para o topo*/
.scrollbutton {
    background-image:url("../img/SetaN.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    position:fixed;
    height: 80px;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
/* inicio Codigio do footer*/
footer{
    background-color: black;
    clear: both;
    color:gray;
    margin-top: 10px;
    margin-left:6% ;
    width: 1030px;  
}
footer img{
    width: 15%;
}
footer h3{
    text-align: center;
    padding-bottom:5px;
}
.social{
    position: absolute;
    top:-65px;
    right:20px;
}
.social a{
    height: 32px;
    width: 32px;
    display: inline-block;
    text-indent: -9999px;
   
}
.social li{
    float: left;
    margin-left: 25px;
    list-style: none;
}
.social a[href*="facebook.com"]{
    background-image: url(../img/facebook_2.png);
    background-size: 32px;

}

.social a[href*="instagram.com"]{
    background-image: url(../img/insta_2.png);
}

.social a[href*="whatsapp.com"]{
    background-image: url(../img/whatsapp.png);
}

footer .ajuste{
    position: relative;
}